@use "../../utils/" as *;

.project__contact {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  max-height: rem(240);
  overflow: scroll;
  .table {
    width: 100%;
    &__row {
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1.5fr;
      gap: rem(16);
      &--head {
        margin-bottom: rem(4);
      }
    }
    &__title {
      text-transform: lowercase;
      font-weight: 400;
    }
    &__body {
      gap: rem(4);
    }
    &__cell {
      font-size: rem(14);
      &--flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: rem(4);
      }
      input {
        padding: rem(2) rem(8);
        background-color: var(--primary-bgc);
        color: var(--light-white-text);
        font-size: rem(12);
        outline: none;
      }
      .delete {
        width: rem(12);
        height: rem(12);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-gray);
        border-radius: 50%;
        color: var(--light-white);
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      .edit {
        width: rem(12);
        height: rem(12);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--light-white-text);
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
