@use "../../utils/" as *;

.project__info {
  font-size: rem(14);
  //info
  .info {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    &__description {
      margin-bottom: rem(12);
      h6 {
        margin-bottom: rem(16);
      }
      p {
        padding: rem(12);
        height: rem(120);
        background-color: var(--primary-bgc);
        line-height: 1.5;
        border-radius: rem(10);
      }
    }
  }
  input {
    padding: 0 rem(4);
    border: 1px solid var(--light-lightgray);
    border-radius: rem(10);
    background-color: var(--light-white-bgc);
    color: var(--light-white-text);
  }
  input[type="date"] {
    border: none;
  }
}
