@use "../../utils/" as *;

.project__info {
  grid-column: 1/2;
  font-size: rem(14);
  grid-row: 1/3;
  //info
  .info {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    &__description {
      margin-bottom: rem(12);
      h6 {
        margin-bottom: rem(16);
      }
      p {
        padding: rem(12);
        height: rem(120);
        background-color: var(--primary-bgc);
        line-height: 1.5;
        border-radius: rem(10);
      }
      textarea {
        width: 100%;
        padding: rem(12);
        height: rem(120);
        background-color: var(--primary-gray);
        line-height: 1.5;
        border-radius: rem(10);
        font-family: "Rubik", sans-serif;
        resize: none;
        border: 1px solid var(--light-gray);
        font-size: rem(12);
      }
    }
  }
  input {
    padding: rem(2) rem(8);
    border: 1px solid var(--light-lightgray);
    border-radius: rem(10);
    background-color: var(--light-white-bgc);
    color: var(--light-white-text);
  }
  input[type="date"] {
    border: none;
  }
}
