@use "../utils/" as *;

// Navbar
.nav {
  width: 100%;
  height: rem(100);
  &__logo {
    width: rem(100);
  }
  &__menu {
    .link {
      padding: rem(6);
      color: var(--dark-black);
      font-weight: 500;
      transition: all 0.3s;
      &:hover {
        background-color: var(--primary-green);
        border-radius: rem(5);
        color: var(--light-white);
      }
    }
  }
}

// Main
.main {
  width: 70%;
  min-height: rem(720);

  // 使用 media query RWD
  @include breakpoint-down(medium) {
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
  }
  &__intro {
    .intro {
      &__content {
        margin-bottom: rem(32);
        display: flex;
        flex-direction: column;
        gap: rem(8);
        h1 {
          margin-bottom: rem(8);
        }
        h3 {
          color: var(--dark-gray);
        }
      }
    }
  }
  &__image {
    width: rem(400);
  }
}
