@use "../utils/" as *;

.projects {
  display: flex;
  flex-direction: column;
  @include breakpoint-down(large) {
    overflow: scroll;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-self: flex-start;
    min-height: rem(40);
  }
  &__table {
    padding: rem(8);
    min-width: rem(1000);
    margin-bottom: rem(20);
    background-color: var(--light-white-bgc);
    border-radius: 0 rem(20) rem(20) rem(20);
    .table__row {
      grid-template-columns: 1fr rem(100) 0.5fr 1fr rem(50) rem(100) 0.5fr 1fr 1fr;
      column-gap: rem(28);
      @include breakpoint-down(medium) {
        grid-template-columns: 1fr rem(20) 0.5fr 1fr rem(40) rem(100) 0.5fr 1fr 1fr;
      }
    }
  }
  &__pagination {
    width: rem(200);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--dark-lightgray);
    font-size: rem(14);
    .pagination {
      width: rem(24);
      height: rem(24);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    svg {
      cursor: pointer;
      path {
        stroke: var(--light-white-text);
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// MENU
.menu {
  &__item {
    padding: rem(12);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-lightgray);
    border-radius: rem(20) rem(20) 0 0;
    font-size: rem(12);
    font-weight: 500;
    color: var(--dark-lightgray);
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-lightgray);
    }
    &.active {
      background-color: var(--light-white-bgc);
      color: var(--dark-gray);
    }
  }
}

// STATUS
.status {
  width: rem(8);
  height: rem(8);
  border-radius: 50%;
  &--low {
    background-color: var(--event-green);
  }
  &--medium {
    background-color: var(--event-yellow);
  }
  &--high {
    background-color: var(--event-red);
  }
}
