@use "../utils/" as *;

.staffs {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  @include breakpoint-down(large) {
    overflow: scroll;
  }
  &__card {
    width: 50%;
  }
  &__table {
    width: 100%;
  }
  .table__select {
    background-color: var(--light-gray);
    .select__input {
      color: var(--light-white-text);
    }
  }
  .table__row {
    grid-template-columns: rem(20) rem(100) rem(100) rem(100) 0.5fr 1fr;
    gap: rem(40);
    @include breakpoint-down(medium) {
      grid-template-columns: rem(20) 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
      gap: rem(20);
    }
  }
  .table__cell,
  .table__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
