@use "../utils/" as *;

.tasks {
  display: grid;
  grid-template-rows: 1fr;
  gap: rem(32);
  @include breakpoint-down(large) {
    overflow: scroll;
  }
  &__card {
    max-height: 95%;
    overflow: scroll;
  }
  &__table {
    width: 100%;
    min-width: rem(1000);
  }
  .table__select {
    background-color: var(--light-gray);
    .select__input {
      color: var(--light-white-text);
    }
  }
  .table__row {
    grid-template-columns: rem(20) 1.5fr 1fr 1fr 0.6fr 1fr 0.5fr 0.2fr 0.5fr;
    gap: rem(40);
    @include breakpoint-down(medium) {
      grid-template-columns: rem(20) 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 0.2fr 0.5fr;
      gap: rem(20);
    }
  }
}
