[data-theme="light"] {
  --primary-green: #cfe15e;
  --primary-gray: #f2f3eb;
  --primary-lightgray: #fafcf8;
  --light-white: #fcfcfc;
  --light-lightgray: #eeeeee;
  --light-gray: #d1d1d1;
  --dark-lightgray: #939393;
  --dark-gray: #636363;
  --dark-black: #151815;
  --event-red: #cf7966;
  --event-green: #9dda88;
  --event-yellow: #f0c631;
  --event-lightblue: #b1bcd8;
  --event-purple: #b4aecf;
  --event-blue: #7885a7;
  --event-coffee: #c5b1a3;
  --event-orange: #eaddc5;
  --event-darkgreen: #c5d4cb;
  --event-pink: #e0c7d0;
}

[data-theme="dark"] {
  --primary-green: #cfe15e;
  --primary-gray: #f2f3eb;
  --primary-lightgray: #fafcf8;
  --light-white: #fcfcfc;
  --light-lightgray: #eeeeee;
  --light-gray: #d1d1d1;
  --dark-lightgray: #939393;
  --dark-gray: #636363;
  --dark-black: #151815;
  --event-red: #cf7966;
  --event-green: #9dda88;
  --event-yellow: #f0c631;
  --event-lightblue: #b1bcd8;
  --event-purple: #b4aecf;
  --event-blue: #7885a7;
  --event-coffee: #c5b1a3;
  --event-orange: #eaddc5;
  --event-darkgreen: #c5d4cb;
  --event-pink: #e0c7d0;
}
