@use "../utils/" as *;

#root {
  width: calc(100vw - rem(80));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100vw;
  // height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  background-color: var(--light-white-bgc);
  transition: all 0.5s ease-in-out;
  position: relative;
  &--close {
    .content__toggle::after {
      content: ">";
    }
    grid-template-columns: rem(80) 24fr;
  }
}
.content {
  max-height: 100%;
  padding: rem(24);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 7fr;
  background-color: var(--primary-bgc);
  border-radius: rem(50) 0 0 rem(50);
  position: relative;
  transition: all 0.4s ease-in-out;

  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(24);
    height: rem(24);
    top: rem(60);
    left: 0;
    transform: translate(-50%, 0);
    background-color: var(--primary-bgc);
    border-radius: rem(5);
    cursor: pointer;
    transition: all 0.2s;

    z-index: 10;
    &:hover {
      opacity: 0.5;
    }
    &::after {
      content: "<";
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(8);
      height: rem(8);
      color: var(--light-white-text);
      font-weight: 500;
    }
  }
}

.hidden {
  display: none;
}

.logo {
  width: rem(80);
}
