@use "../utils/" as *;

.card {
  max-height: 100vh;
  background-color: var(--light-white-bgc);
  border-radius: rem(20);
  padding: rem(20);
  position: relative;
  color: var(--light-white-text);
  &--flex {
    display: flex;
    align-items: center;
    gap: rem(20);
    @include breakpoint-down(medium) {
      gap: rem(8);
    }
    &--between {
      justify-content: space-between;
    }
    &--center {
      justify-content: center;
    }
  }
  &__title {
    padding-left: rem(16);
    border-left: 3px solid var(--primary-green);
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    @include breakpoint-down(medium) {
      font-size: rem(14);
    }
  }
  &__text {
    text-transform: capitalize;
    &--sm {
      font-size: rem(14);
    }
  }
  textarea {
    width: 100%;
    padding: rem(12);
    height: rem(120);
    background-color: var(--primary-gray);
    line-height: 1.5;
    border-radius: rem(10);
    font-family: "Rubik", sans-serif;
    resize: none;
    border: 1px solid var(--light-gray);
    font-size: rem(12);
  }
}
