@use "../utils/" as *;

.navigator {
  width: 100%;
  height: rem(50);
  background-color: var(--light-white-bgc);
  border-radius: rem(20);
  @include breakpoint-down(large) {
    width: calc(100% - rem(20));
    justify-content: space-between;
    justify-self: center;
  }
  &__overlay {
    border-radius: rem(50) rem(0) rem(0) rem(50);
    @include breakpoint-down(large) {
      border-radius: rem(50);
    }
    @include breakpoint-down(medium) {
      border-radius: rem(20);
    }
  }
  &__search {
    width: rem(250);
  }
  &__btn {
    p {
      @include breakpoint-down(medium) {
        display: none;
      }
    }
  }
  &__info {
    height: rem(30);
    color: var(--light-white-text);
    h6 {
      @include breakpoint-down(large) {
        display: none;
      }
    }
    @include breakpoint-down(small) {
      gap: rem(4);
    }
  }

  &__user {
    width: rem(30);
    height: rem(30);
    object-fit: cover;
    background-color: var(--primary-bgc);
    border-radius: 50%;
    @include breakpoint-down(small) {
      display: none;
    }
  }
  &__mode {
    svg {
      width: rem(20);
      path {
        stroke-width: 2;
        stroke: var(--dark-gray);
      }
    }
  }
}
