@use "../utils/" as *;

.project {
  padding: rem(20);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: rem(32);
  &__box {
    background-color: var(--light-white);
    border-radius: rem(20);
    padding: rem(16);
    position: relative;
  }
  &__info {
    grid-column: 1/2;
    grid-row: 1/3;
    //info
    .info {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      &__description {
        margin-bottom: rem(12);
        h6 {
          margin-bottom: rem(16);
        }
        p {
          padding: rem(12);
          height: rem(120);
          background-color: var(--primary-gray);
          line-height: 1.5;
          border-radius: rem(10);
        }
      }
    }
  }
  &__phase {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  &__staff {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    gap: rem(20);
    h6 {
      margin-bottom: rem(20);
    }
    img {
      width: rem(48);
      height: rem(48);
      border-radius: 50%;
      background-color: var(--light-gray);
    }
    .manager__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem(8);
    }
    .staff__info {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: rem(20);
    }
  }
  &__contact {
    grid-column: 3/4;
    grid-row: 2/3;
    max-height: rem(240);
    overflow: scroll;
    .table {
      width: 100%;
      &__row {
        grid-template-columns: 1fr 1fr 1fr 2fr;
        &--head {
          margin-bottom: rem(4);
        }
      }
      &__title {
        font-weight: 400;
      }
      &__body {
        gap: rem(4);
      }
      &__cell {
        font-size: rem(14);
      }
    }
  }
  &__task {
    grid-column: 1/3;
    grid-row: 3/5;
    .table {
      width: 100%;
      &__row {
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr 1fr;
        &--head {
          margin-bottom: rem(4);
        }
      }
      &__title {
        font-weight: 400;
      }
      &__body {
        gap: rem(4);
      }
      &__cell {
        font-size: rem(14);
        .cell__text {
          padding: rem(2) rem(10);
          background-color: var(--light-gray);
          border-radius: rem(10);
        }
      }
    }
  }
  &__timer {
    grid-column: 3/4;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    gap: rem(20);
    .timer__item {
      padding: rem(4) rem(12);
      display: flex;
      justify-content: space-between;
      background-color: var(--light-lightgray);
      border-radius: rem(10);
      text-transform: capitalize;
    }
    .timer__total {
      padding: rem(12);
      display: flex;
      align-self: flex-end;
      align-items: center;
      gap: rem(10);
      color: var(--event-red);
    }
  }
  &__title {
    margin-bottom: rem(12);
    padding-left: rem(12);
    font-size: rem(14);
    font-weight: 600;
    border-left: 3px solid var(--primary-green);
  }
  &__add {
    width: rem(20);
    height: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: rem(16);
    top: rem(16);
    background-color: var(--primary-green);
    color: var(--light-white);
    border-radius: 50%;
    cursor: pointer;
  }
}

// phase
.phase {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.content {
  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    &--column {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(12);
    }
    p {
      font-size: rem(14);
    }
    .select {
      width: rem(120);
      background-color: var(--light-gray);
      &__input {
        color: var(--dark-black);
      }
    }
  }
  &__box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: rem(12);
    padding: rem(12);
    width: 100%;
    height: rem(100);
    background-color: var(--primary-gray);
    border-radius: rem(10);
    &--white {
      background-color: var(--light-white);
    }
  }
}

// text box

.box {
  padding: rem(2) rem(12);
  background-color: var(--light-white);
  border-radius: rem(10);
  font-size: rem(14);
  &--add {
    width: rem(50);
    text-align: center;
    background-color: transparent;
    border: 2px dotted var(--event-lightblue);
    border-radius: rem(15);
    color: var(--event-lightblue);
    cursor: pointer;
    &:hover {
      border: 2px dotted var(--event-blue);
      color: var(--event-blue);
    }
  }
  &--tag {
    background-color: var(--event-lightblue);
  }
  &--phase {
    background-color: var(--event-red);
    color: var(--light-white);
  }
}
